.photo-grid {
  display: grid;
  grid-template-columns: repeat(4, 284px);
  grid-template-rows: repeat(3, 213px);
  gap: 16px;
  justify-items: center;
  align-items: center;
  max-width: 1184px;
  margin: 92px 0;
  padding-left: 48px;
  padding-right: 48px;
}

@media screen and (max-width: 1024px) {
  .photo-grid {
    grid-template-columns: repeat(3, 300px);
    grid-template-rows: repeat(4, 225px);
    gap: 14px;
    max-width: 928px;
  }
}