.cover__subtitle {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 22px;
  color: #fff;
  position: relative;
  text-align: center;
  max-width: 360px;
  align-self: center;
  margin: 0;
}

@media screen and (max-width: 320px) {
  .cover__title {
    font-size: 14px;
    line-height: 16px;
  }
}