.header {
  min-height: 52px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-top: 28px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 56px;
  padding: 0;
  max-width: 1184px;
}

@media screen and (max-width: 1024px) {
  .header {
    max-width: 928px;
    margin-bottom: 48px;
  }
}

@media screen and (max-width: 768px) {
  .header {
    max-width: 720px;
    margin-bottom: 48px;
  }
}

@media screen and (max-width: 320px) {
  .header {
    max-width: 288px;
    margin-bottom: 48px;
  }
}