.place__paragraph {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 163%;
  color: #fff;
  max-width: 484px;
  margin-bottom: 0;
  margin-top: 0;
}

.place__paragraph:first-child {
  margin-bottom: 26px;
}