.place__paragraph {
  font-family: 'Inter', Arial, sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 163%;
  color: #fff;
  max-width: 484px;
  width: 100%;
  margin-bottom: 0;
  margin-top: 0;
  box-sizing: border-box;
}

.place__paragraph:not(:last-child) {
  margin-bottom: 26px;
}

@media screen and (max-width: 1279px) {
  .place__paragraph {
    max-width: 456px;
  }
}

@media screen and (max-width: 1023px) {
  .place__paragraph {
    font-size: 16px;
  }
  .place__paragraph:not(:last-child) {
    margin-bottom: 25px;
  }
}

@media screen and (max-width: 767px) {
  .place__paragraph {
    max-width: calc(100% - 16px * 2);
    margin-bottom: 0;
  }
}