.lead__subtitle {
  font-family: 'Inter', Arial, sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 30px;
  line-height: 36px;
  color: #fff;
  margin: 0 auto 64px auto;
  max-width: 640px;
  width: 100%;
  text-align: center;
}

@media screen and (max-width: 1279px) {
  .lead__subtitle {
    margin-bottom: 56px;
  }
}

@media screen and (max-width: 767px) {
  .lead__subtitle {
    font-size: 16px;
    line-height: 20px;
    margin-bottom: 40px;
  }
}