.place__link {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 22px;
  color: #fff;
  text-decoration: none;
  border-bottom: 2px #fff solid;
  transition: opacity .3s ease;
}

.place__link:hover {
  opacity: .8;
}

