.cover__title {
  font-family: 'Inter', Arial, sans-serif;
  font-style: normal;
  font-weight: 900;
  font-size: 72px;
  line-height: 76px;
  color: #fff;
  position: relative;
  text-align: center;
  margin: 0 auto 32px auto;
  max-width: 560px;
  align-self: center;
}

@media screen and (max-width: 767px) {
  .cover__title {
    font-size: 46px;
    line-height: 50px;
    margin-bottom: 16px;
  }
}

@media screen and (max-width: 424px) {
  .cover__title {
    font-size: 32px;
    line-height: 35px;
    max-width: calc(100% - 16px * 2);
  }
}