.place {
  display: grid;
  grid-template-columns: minmax(440px, 460px) 1fr;
  grid-template-rows: repeat(2, min-content);
  column-gap: 40px;
  row-gap: 48px;
  width: calc(100% - 148px * 2);
  margin-bottom: 80px;
}

@media screen and (max-width: 1279px) {
  .place {
    grid-template-columns: minmax(340px, 440px) 1fr;
    grid-template-rows: repeat(2, min-content);
    width: calc(100% - 48px * 2);
    column-gap: 32px;
  }
}

@media screen and (max-width: 1023px) {
  .place {
    grid-template-columns: 340px 1fr;
    grid-template-rows: repeat(2, min-content);
    margin-bottom: 60px;
    column-gap: 28px;
    width: calc(100% - 24px * 2);
  }
}

@media screen and (max-width: 767px) {
  .place {
    display: flex;
    flex-direction: column;
    /* align-items: flex-start; */
    align-items: center;
    width: 100%;
    margin-bottom: 50px;
    gap: 32px;
  }
}