.place {
  display: grid;
  grid-template-columns: 460px 484px;
  grid-template-rows: minmax(min-content, max-content) 460px;
  column-gap: 40px;
  row-gap: 48px;
  max-width: 984px;
  margin-bottom: 80px;
  padding-left: 148px;
  padding-right: 148px;
}