.place {
  display: grid;
  grid-template-columns: 460px 484px;
  grid-template-rows: minmax(min-content, max-content) 460px;
  column-gap: 40px;
  row-gap: 48px;
  max-width: 984px;
  margin-bottom: 80px;
  padding-left: 148px;
  padding-right: 148px;
}

@media screen and (max-width: 1024px) {
  .place {
    grid-template-columns: 440px 456px;
    grid-template-rows: minmax(min-content, max-content) 440px;
    max-width: 928px;
    column-gap: 32px;
    padding-left: 48px;
    padding-right: 48px;
  }
}