.footer {
  display: flex;
  justify-content: space-between;
  max-width: 1184px;
  width: 100%;
  align-items: center;
  margin-bottom: 24px;
}

@media screen and (max-width: 1279px) {
  .footer {
    width: calc(100% - 48px * 2);
  }
}

@media screen and (max-width: 1023px) {
  .footer {
    width: calc(100% - 24px * 2);
    padding-left: 24px;
    padding-right: 24px;
  }
}

@media screen and (max-width: 767px) {
  .footer {
    flex-direction: column;
    align-items: flex-start;
    align-self: flex-start;
    padding-left: 16px;
    padding-right: 0;
    margin-bottom: 16px;
  }
}