.footer {
  display: flex;
  justify-content: space-between;
  max-width: 1184px;
  padding-left: 48px;
  padding-right: 48px;
  align-items: center;
  max-height: 18px;
  margin-bottom: 24px;
}

@media screen and (max-width: 1024px) {
  .footer {
    max-width: 928px;
  }
}