.place__url-heading {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 12px;
  letter-spacing: 2px;
  color: #aaa;
}

@media screen and (max-width: 767px) {
  .place__url-heading {
    margin-top: 0;
    margin-bottom: 12px;
  }
}