.place__description {
  align-self: start;
  justify-self: start;
}

@media screen and (max-width: 767px) {
  .place__description {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}